<div class="container-fluid" >
<div class="row">
  <div class="col-md-6">

    <ul>
      <li *ngFor="let alimento of alimentos" class="mb-2">
        <div>
            <img src="{{alimento.image}}" width="100px">
            <button (click) = 'clickAdd(alimento,1)' >+</button><input type="text">
        </div>
      </li>
    </ul>
  </div>

    <div class="col-md-6">
        <p>Hola</p>
      <ul>
        <li *ngFor="let day of Today" class="mb-2">
          <p>{{ dat.can }} x {{ day.name }} </p>
        </li>
      </ul>
  </div>
</div>
</div>
